body {background-color: rgba(239, 243, 232, 0.863);}
h1,h3,h4 {text-align: center;
          color: rgb(194, 110, 13);}

img {width: 1300px;
     height: auto;}
     
ul,.ingr {background-color: rgb(194, 217, 221);}